<div class="content-inner">
    <section id="home-section" class="doc-section">
        <h2 class="section-title">Installation via Docker</h2>
        <div class="section-block">
            <p>
                A demo project consisting of various fake government API's is available and a good startingpoint to
                play with the system. Each fake government organisation is made available to you from outside the
                container and all facilitating code will be kept hidden so you will be left with only the parts that
                are relevant when working with the system.
            </p>
            <h3>Install Docker</h3>
            <p>
                The installation procedure of Docker changes and is documented very well on many other places so i will
                leave it up to the reader to take care if this part on his own.
            </p>
            <h3>Demo project</h3>
            <p>
                To obtain the demo project go to it's Gitlab repository:
                <a href="{{ urls.demo_project_git_repo }}" target="_blank">{{ system_name }} demo project</a>
                and clone or download the files. To keep things at a logical place, the installation instructions
                for installing the demo project can be found there as well.
            </p>

        </div>

    </section><!--//doc-section-->

</div><!--//content-inner-->
