<div class="content-inner">
    <section id="home-section" class="doc-section">
        <h2 class="section-title">Installation via Docker</h2>
        <div class="section-block">
            <p>
                A demo project consisting of various fake government API's is available and a good startingpoint to
                play with the system. Each fake government organisation is made available to you from outside the
                container and all facilitating code will be kept hidden so you will be left with only the parts that
                are relevant when working with the system.
            </p>
            <h3>Installation</h3>
            <p>
                To install the codebase using Docker some software is required.
            </p>
            <ol>
                {% for package in required_software %}
                    <li>{{ package|raw }}</li>
                {% endfor %}
            </ol>
            <p>
                Instructions for setting up your environment on Ubuntu can be found here:
                <a href="{{ site_map.DockerPreparations.getUrl() }}">instructions</a>
            </p>

            <h3>Download and run</h3>
            <p>
                Once the required software is installed you can download the core system and install some of
                the demo API's.<br />

            </p>
            <a class="btn btn-success" href="{{ site_map.DockerStart.getUrl() }}"><i class="fa fa-smile-beam"></i> Start using your new system</a>



        </div>

    </section><!--//doc-section-->

</div><!--//content-inner-->
