<div class="content-inner">
    <section id="home-section" class="doc-section">
        <h2 class="section-title">Installation via Composer</h2>
        <div class="section-block">
            <p>
                When you already have a development environment then composer is probably the best way.
                At least you get to pick all the components you need by your self.
            </p>
            <h3>Get composer</h3>
            <p>
                If you haven't already, first: <a href="https://getcomposer.org/">https://getcomposer.org/</a> and
                install the package manager.
            </p>
            <h3>Intialize project</h3>
            <p>
                You need an empty folder and a composer.json file. First create folder, then initialize a new composer
                project. Open your commandline and follow along.
            </p>
            <div class="code-block">
                <h6>Example</h6>
                <pre>
                    <code class="language-markup">
                        &lt;your-shell&gt;$composer init

                    </code>
                </pre>
            </div><!--//code-block-->

        </div>

    </section><!--//doc-section-->

</div><!--//content-inner-->
