code
{
  div.bash
  {
    background-color: black!important;


  }

}
.btn-docker, a.btn-docker {
  color: rgb(255, 255, 255) !important;
  background: $docker;
  border-width: 1px;
  border-style: solid;
  border-color: $docker;
  border-image: initial;
}

.btn-gitlab, a.btn-gitlab {
  color: rgb(255, 255, 255) !important;
  background: $gitlab;
  border-width: 1px;
  border-style: solid;
  border-color: $gitlab;
  border-image: initial;
}

.btn-php, a.btn-php {
  color: rgb(255, 255, 255) !important;
  background: $php;
  border-width: 1px;
  border-style: solid;
  border-color: $php;
  border-image: initial;
}

.docker{
  color: $docker !important;
}
.gitlab {
  color: $gitlab;
}

.php {
  color: $php;
}

.breadcrumb li.active a {
  color:white;
}

.body-green .doc-menu .nav-link.active {
  font-weight: bolder;
  color: black!important;
}

code {
  background: #222;
  color: #fff;
  font-weight: bold;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  padding: 0px 8px;
  padding-top: 0px;
  display: inline-block;
}


info {
  color: whitesmoke;
  background-color: darkslategray;
  font-weight: bold;
  padding:0 5px;
  display: inline-block;
}